@using WebApp_FireAndIce.Models;
@using WebApp_FireAndIce.ExtentionMethods;
@{
    Administrator loggedUser1 = this.ViewContext.HttpContext.Session.GetObject<Administrator>("loggedUser");
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "HOME";
}

<div class="content">

    @if (loggedUser1 == null)
    {
        <span>Здравейте,</span>
        <p>
            За да продължите в нашия сайт, Вие трябва да имате вече съществуващ активен акаунт, с който да влезете. Ако нямате - моля да се регистрирате.
        </p>
        <a class="btn btn-primary mt-5 btn-lg" style="background-color: #9C2D41; border-color: #9C2D41;" href="/Home/Login">Вход</a>
        <a class="btn btn-primary mt-5 btn-lg" style="background-color: #9C2D41; border-color: #9C2D41;" href="/Home/Register">Регистрация</a>
    }
    else
    {
        <span>
            Добре дошли в системата за управление на хотелски резервации,
            @(loggedUser1.Username)
        </span>
        <p>

        </p>
    }
</div>
